name: Latest Posts
on:
  schedule:
    - cron: '0 * * * *' #Runs every hour
  workflow_dispatch:

jobs:
  update-readme-with-youtube:
    name: Update this repo's README with latest posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: "Posts"
          feed_list: "https://hrllk.github.io/feed.xml"
